sudo: required

language: ruby

services:
  - docker

before_install:
  - docker pull ubuntu:trusty > /dev/null

script:
  - docker build -t unidata/cloudstream -f Dockerfile.cloudstream .
  - cd examples/Linux\ Desktop/ && docker build -t example/desktop -f Dockerfile.desktop . && cd ../../
  - cd examples/CloudIDV/ && docker build -t example/cloudidv -f Dockerfile.cloudidv . && cd ../../